<a class='pull-left' href='#'>
  <img class='media-object' data-src='holder.js/64x64' />
</a>
<div class='media-body'>
  <h4 class='media-heading'>{{title}}</h4>
  <h5 class='media-heading'>{{artist}}</h5>
  <h5 class='media-heading'>{{album}}</h5>
</div>
